<div class="container mt-4">
  <h1><%= @user.username %>'s Profile</h1>

  <%= gravatar_for @user, size: 200 %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>

  <div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

  <% if @articles.any? %>
    <% @articles.each do |article| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.description %></p>
          <%= link_to 'Read more', article_path(article), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No articles found for this user.</p>
  <% end %>
</div>

<div class="apple_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

